[graph]
exclude-unpublished = true

[advisories]
unmaintained = "none"
ignore = []

[licenses]
confidence-threshold = 0.8
allow = ["Apache-2.0", "BSD-3-Clause", "MIT", "Unicode-3.0"]

[bans]
multiple-versions = "deny"
highlight = "all"
skip-tree = [
    { name = "windows_x86_64_msvc" },
]

[sources]
unknown-registry = "warn"
unknown-git = "warn"
allow-git = []
